<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Session</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <div class="header">
        <%- include('partials/guest_navbar');%>
    </div>
    <%
        if(session) { %>
        <div class="row session-panel">
            <div class="col-md-7 col-sm-6 video">
                <input type="hidden" id="videoId" value="<%= session.videoId%>">
                <input type="hidden" id="sessionId" value="<%= session.sessionId%>">
                <input type="hidden" id="userName" value="<%= user.username%>">
                <input type="hidden" id="userId" value="<%= user.id%>">
                <input type="hidden" id="isAdmin" value="<%= isAdmin%>">
                <!--            <h2>Video Display</h2>-->
                <div id="player" style="pointer-events: none;" ></div> <br>
                <div class="row" id="controls">
                    <div class="col-md-2 col-sm-12">
                        <button id="playBtn">
                            <svg class="bi bi-play-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.596 8.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 010 1.393z" style="color: #007bff;"/>
                            </svg>
                        </button>
                        <button id="pauseBtn">
                            <svg class="bi bi-pause-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.5 3.5A1.5 1.5 0 017 5v6a1.5 1.5 0 01-3 0V5a1.5 1.5 0 011.5-1.5zm5 0A1.5 1.5 0 0112 5v6a1.5 1.5 0 01-3 0V5a1.5 1.5 0 011.5-1.5z" style="color: #007bff;"/>
                            </svg>
                        </button>

                    </div>
                    <div class="col-md-10 col-sm-12">
                        <div class="slidecontainer">
                            <input type="range" min="0" max="100" value="0" class="slider" id="myRange">
                        </div>
                    </div>
                </div>

            </div>
             <div class="col-md-4 offset-md-1 col-sm-5">
                <div class="card users-panel">
                    <div class="card-header" id="connected-users-text">
                        Connected Users
                    </div>
                    <ul class="list-group list-group-flush" id="connected-users">
                        <%
                           if(session.connectedUsers.length > 0) {
                                   session.connectedUsers.forEach((user) => { %>
                                   <li class="list-group-item connected-user"><%= user.username %></li>
                                <%   });
                           }else { %>
                               <p class="text-center">No Connected Users</p>
                           <% }
                            %>
                    </ul>
                    <div class="card-footer">
                        <%= session.adminName%>
                    </div>
                    <br>
                </div>
                 <% if(isAdmin === true){%>
                 <div class="input-group mb-3" style="padding: 5px;">
                     <input type="text" class="form-control" id="link-field" readonly placeholder="link" aria-label="Recipient's username" aria-describedby="button-addon2">
                     <div class="input-group-append">
                         <button class="btn btn-outline-secondary copyLink" data-clipboard-target="#link-field" type="button" id="button-addon2">Copy Link</button>
                     </div>
                 </div>
                 <button class="btn btn-primary" id="endSession">End Session</button>
                 <%}%>
            </div>
        </div>
    <%    }else{ %>
                <h3>
                    Invalid SessionId Passed
                </h3>
  <%  }
    %>


    <script src="/javascripts/jquery-3.4.1.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/javascripts/session.js"></script>
</body>
</html>
